/.env
/log/*
/.bundle
*.lock
config/database.yml
db/schema.rb

# Ignore master key for decrypting credentials and more.
/config/master.key
/tmp
/vendor/*
/public/assets/*
/config/secret.yml
/config/gss_service_account.json
